
.box{
    width: 310px;
    height: 410px;
    background-color: #efefef;
    margin: 50px auto;
    padding: 20px 25px;
    box-sizing: border-box;
}

.box a h3, .box a strong{font-size: 18px; font-weight: 500;  margin-bottom: 10px; margin-top: 15px;}
.box a p, .box a em{font-size: 12px;}

.box2 a strong{display: block;}

