.box{width: 370px; padding: 50px 30px; margin: 0 auto; background-color: #efefef; box-sizing: border-box;}
.box h3{font-size: 23px; font-weight: 700; margin-bottom: 25px;}
.box p{margin-bottom: 30px; line-height: 1.5}