.box{
    width: 460px;
    height: 325px;
    background-color: #efefef;
    box-sizing: border-box;
    margin: auto;
    padding: 25px 30px;
}
.box h3{font-size: 27px; font-weight: 500; margin-bottom: 10px;}
.box li{font-size: 18px; margin-bottom: 10px;}


25 18
10