.con-box{width: 100%;}

.con-box .box{ width: 590px; padding: 15px; margin: 0 auto;}
.con-box .box h2{font-size: 15px; font-weight: 700; border-bottom: 1px solid #333; padding-bottom: 20px; margin-bottom: 30px; }
.con-box .box h3{font-size: 25px; font-weight: 700; margin-bottom: 25px;margin-top: 30px;}
.con-box .box p{font-size: 15px; margin-bottom: 80px;}
